body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

/* Navigation bar */
header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: 0px 0px 5px #e1e1e1;
    background-color: #009688;
}

header nav {
    width: 90%;
    margin: auto;
}

header ul {
    margin: 0;
    padding: 0;
}

header > nav > ul {
    display: inline-block;
    vertical-align: top;
    transform: translateY(calc(50% + 10px));
}

div#logo-container {
    display: inline-block;
}

header ul li {
    display: inline-block;
    position: relative;
    width: auto;
    list-style-type: none;
    cursor: pointer;
}

header > nav > ul > li {
    border: 1px solid #e9e9e9;
    background-color: #26A69A;
    color: #fff;
    margin: 0 10px;
}

header ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    padding: 6px 20px;
    box-sizing: border-box;
}

header > nav > ul > li:hover {
	background-color : #80CBC4 !important;
}

#logo {
	height: 75px;
    width: auto;
}

li#admin-menu > p {
    margin: 0;
    padding: 6px 20px;
    box-sizing: border-box;
}

#admin-menu ul {
	display:none;
	position: absolute;
    width: 100%;
	left: -1px;
    margin-top: 1px;
    border: 1px solid #fff;
    border-top: 0;
    background-color: #4DB6AC;
}

li#admin-menu:hover > ul{
	display:block;
}

#admin-menu ul li {
    display: block;
    border-bottom: 1px solid #fff;
    font-size: 12px;
}

#admin-menu ul li:hover {
    background-color: #B2DFDB !important;
}

/* header ul > ul {
    width: auto;
    display: inline-block;
}

header ul > ul > p {
    margin : 0;
} */

/* Main container */
.main-container{
	margin-top:100px;
}